.App {
  text-align: center;
  margin-top: 5vw;

}

.flexbox {
  display: flex;
  justify-content: space-evenly;
}

.grid {
  float: left;
  display: grid;
  grid-template-columns: 20vh 20vh 20vh 20vh;
  grid-template-rows: 15vh 15vh 15vh 15vh 15vh;
  grid-template-areas:
    "result result result multiplication"
    "clear clear clear division"
    "seven eight nine minus"
    "four five six plus"
    "one two three equal";
}

.history {
  float: right;
  margin-left: 3vh;
}

.result {
  grid-area: result;
  background-color: #A9E5BB;
}

.clear {
  grid-area: clear;
}

.division {
  grid-area: division;
}

.num7 {
  grid-area: seven;
}

.num8 {
  grid-area: eight;
}

.num9 {
  grid-area: nine;
}

.minus {
  grid-area: minus;
}

.multiply {
  grid-area: multiplication;
}

.num4 {
  grid-area: four;
}

.num5 {
  grid-area: five;
}

.num6 {
  grid-area: six;
}

.plus {
  grid-area: plus;
}

.num1 {
  grid-area: one;
}

.num2 {
  grid-area: two;
}

.num3 {
  grid-area: three;
}

.equal {
  grid-area: equal;
  background-color: #E3170A;
}

.grid div {
  border: 1px solid black;
  font-size: 3rem;
  align-items: center;
  display: flex;
  align-items: center;
  justify-content: center;
}

.num {
  background-color: #2D1E2F;
  color: white;
}

.operation {
  background-color: #F7B32B;
}

ul li {
  list-style-type: decimal;
}